/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


 

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*color: #5a5a5a;*/
  width:100%;
  height:100%;
  
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Antic Slab',Cursive;
	font-style:oblique;
	color:black;

}

p {
	font-family: 'Alice';
	font-style:normal;
	color:black;
}
label{
	font-family:fantasy;
	font-style:normal;
	font-size:2rem;
	
}




.dropdown-menu{
	color:black;
	text-decoration:none;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  background-image:-webkit-linear-gradient(145deg,#333366 0%,#fff 100%);
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  
}

.content-3 {
	background-color:#333366;
	margin-top:2%;
	margin-bottom:2%;
}

.content-4 {
	margin:2%;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1.2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-family: 'Antic Slab';
}

.content-5 {
	background-color:black;
}

.footer .content-5 {
	 margin-top:4%;
}
.footer a{
	text-decoration:none;
	padding:2%;
	color:white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content for medium screens*/
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    
  }

  .featurette-heading {
    font-size: 50px;
  }
  
  .pic-small{
  
  height:20rem;
  width:20rem;
  
  }
}

@media  (min-width: 62em) {
	/* Bump up size of carousel content for large screens*/
  .featurette-heading {
    margin-top: 7rem;
  }
  .pic-small{
  
  height:30rem;
  width:30rem;
  
  }
}